:root{

/*--------Primary-----------*/
--DarkCyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);


/*--------Neutral----------*/

--VEdarkBlue: hsl(212, 21%, 14%);
--DarkGrayishBlue: hsl(228,12%, 48%);
--White: hsl(0,0%, 100%);


/*--------Fonts------------*/

--primaryFont: 'Montserrat',bold;

--secundaryFont: 'Fraunces';


}



html {

    box-sizing: border-box;

    font-size: 62.5%;
    /* 1 rem = 10px */

}

*,
*:before,
*:after {

    box-sizing: inherit;
}



header{

    margin: 0 auto;
}


body{

    font-size: 1.4rem;

    background-color: var(--Cream);

    display: flex;

    flex-direction: column;

}



h1{

    font-family: var(--secundaryFont);


    font-size: 3rem;

}


p,span{

    font-family: var(--primaryFont);

    color: var(--DarkGrayishBlue);
}




p{

    line-height: 25px;
}

span{

    letter-spacing: 5px;

}



footer{

display: flex;

    min-height: 5rem;

    margin-top: 4rem;
       
   font-family: var(--primaryFont);

   justify-content: center;

   align-items: center;

   
      
  }

footer a{
    text-decoration: none;
    color:var(--DarkCyan);

    font-family: var(--primaryFont);


}







.preview-card{

  
    margin: 0 auto;
    flex-wrap: nowrap;
    margin-top: 15rem;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-radius: 1rem;
    width: 650px; 
    height: 450px;
    background-color:var(--White);
    position: relative;
   
    
   

   
}


.container-image{


 border-radius: 1rem 0 0 1rem;

 background-image: url(../images/image-product-desktop.jpg);

 background-size: cover;

 background-repeat: no-repeat;

 height: 450px;

 width: 350px;
 
}


.text-container{

    
    height: 450px;

    width: 300px;

    margin: 2rem;

    padding: 2rem;
   
}




.price-flex{
    display: flex;

    align-items: center;

    justify-content:left ;

}

p.price{

    color: darkcyan;

    font-size: 3rem;

    font-family: var(--secundaryFont);

    
}


p.discount{

    margin-left: 2rem;
    text-decoration: line-through;
}



.button{


    display: flex;

    justify-content: center;

    align-items: center;

    width: 100%;

    background-color: var(--DarkCyan);

    font-family: var(--primaryFont);

    color: var(--White);

    cursor: pointer;

    border-radius: 0.5rem;

    border: none;

    height: 10%;

  

}



.button:hover{
    background-color: hsl(159, 43%, 19%) ;
    cursor: pointer;
    transition: all .5s;
    width: 100%;
}


.icon{

    margin-right: 2rem;

    max-width: 2.2rem;

    max-height: 1.6rem;

}









@media (max-width: 650px){ 
    
    
    .preview-card{

        flex-direction: row;

        flex-wrap: wrap;
       
     
        width: auto;
        height: auto; 

        max-width: 422px;

       
    }


    .container-image{


        border-radius: 1rem 1rem 0 0;

       
        background-image:url(../images/image-product-mobile.jpg);
        width: 422px;
        max-height: 330px;

       

    }



    .text-container{

        max-width: fit-content;

        max-height: fit-content;

    }


    
}







